.badge {
    font-size: 0.8rem;
    border-radius: 50%;
    padding: 5px 8px;
    max-width: fit-content;
}

.light-blue {
	color: var(--primary);
	background-color: var(--primary-hover);
}

.dark-brown {
    color: var(--warning);
    background-color: var(--warning-hover);
}

.light-green {
    color: var(--success);
    background-color: var(--success-hover);
}

.dark-red {
    color: var(--error);
    background-color: var(--error-hover);
}

.dark-purple {
    color: var(--violet);
    background-color: var(--violet-hover);
}

.none {
    color: var(--other);
    background-color: var(--other-hover);
}
