.section {
	width: 100%;
}

.pageHeader {
	padding: 30px;

	

	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h1 {
			margin-block: 20px;
		}

		.button {
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 5px;
			color: var(--white);
		}
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding-inline: 30px;
}
