.project {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;

  &.active {
    color: var(--primary);
    background-color: var(--primary-hover);
    border-radius: 10px;
  }
}

.icon {
  padding: 10px;
  border-radius: 50%;

  img {
    width: 20px;
    height: 20px;
  }

  &.pink {
    background-color: pink;
  }

  &.aqua {
    background-color: aqua;
  }
}
