.card {
	border-radius: 10px;
	padding: 10px;
	background-color: var(--white);
	max-width: 300px;
	display: grid;
	gap: 10px;
	cursor: pointer;

	.backgroundImage {
		object-fit: cover;
		border-radius: 10px;
	}
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	// .icon {
	// 	align-self: flex-start;
	// }
}
