@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
	--primary: #304dff;
	--primary-hover: #e7eafe;
	--neutral: #161616;
	--gray: #797979;
}

* {
	box-sizing: border-box;
	font-family: Inter, sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
	margin: 0;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}
