.form {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  align-items: center;
  gap: 20px;

  input {
    padding: 10px;
    border: 1px solid var(--gray);
  }
}

.button {
  margin-top: 20px;
  border-radius: 10px;
  color: var(--white);
  padding: 10px 30px;
  display: block;
  margin-left: auto;
}
