@import "/src/styles/utils.scss";

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.left {
	width: 100%;

	input {
		@include font-size(22px, 34px);
		line-height: 1.4;
		font-weight: 700;
	}

	.title {
		padding: 4px;
	}
}

.description {
	.edit {
		min-height: 10vh;
	}

	span {
		padding-left: 4px
	}

	textarea {
		@include font-size(16px, 16px);
		line-height: 1.3;

		@include tablet {
			line-height: 1.8;
		}
	}

	.text {
		padding: 4px;
		white-space: pre-wrap;
	}
}
