.sidebar {
	width: 100%;
	max-width: fit-content;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	min-height: 100vh;
	padding: 30px;

	.logoContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&.active {
		max-width: 300px;
	}
}
